<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>修改密码</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/mall.css' %}"/>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/sha1.js' %}"></script>

</head>
<body>
<div id="child_header">
    <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
    <div class="current_location"><span>修改密码</span></div>
    <div class="next_operate"><a href="javascript:;" onclick="edit_pass_ajax()"><span>保存</span></a></div>
</div>
<div class="password_change">
    {% csrf_token %}
    <div class="psd_li">
        <span>原密码</span>
        <input type="password" id="oldpass" placeholder="请输入原密码" maxlength="20" value="">
    </div>

    <div class="psd_li">
        <span>新密码</span>
        <input type="password" id="newpassword" placeholder="请输入4~20位密码" maxlength="20" value="">
    </div>

    <div class="psd_li">
        <span>确认密码</span>
        <input type="password" id="surepass" placeholder="请再次输入密码" maxlength="20" value="">
    </div>
</div>
<script>
    function edit_pass_ajax(){
        var oldpass = $('#oldpass').val().trim(); //移除空字符
        var password = $('#newpassword').val().trim();
        var surepass = $('#surepass').val().trim();
        var csrf = $('input').val();
        if(oldpass==''  ){
            layer.msg("原密码不能为空");
            return false;
        }
        if(password=='' ){
            layer.msg("密码不能为空");
            return false;
        }
        if(surepass == '' ){
            layer.msg("确认密码不能为空");
            return false;
        }
        if(password !== surepass ){
            layer.msg("两次密码不一致");
            return false;
        }
        var password=hex_sha1(password);
        var oldpassword=hex_sha1(oldpass);
        layer.confirm('确认要修改密吗？', {
          btn: ['确认','取消'] //按钮
        }, function(){  //确认事件
            var index = layer.load(0, {shade: false});  //加载中图标
            $.post('/index/edit_pass_ajax/',{'csrfmiddlewaretoken': csrf,'password':password, 'oldpassword':oldpassword},function(data){
                layer.close(index); //停止加载图标
                if(data.res=='1'){
                    layer.alert(data.msg)
                    window.location.href='/index/person';
                    // alert(1);
                }else{
                    layer.alert(data.msg);
                }
            },'json')
        }, function(){
            return
        });

    }
</script>
</body>
</html>